body{
font-family: Arial;
text-align:center;
margin-top:50px;
}

nav{
background:#eee;
padding:15px;
}

nav a{
margin:15px;
text-decoration:none;
font-weight:bold;
}

h1{
margin-top:40px;
}